@model List<Entities.Models.Supplier>

<h1>Supplier List</h1>
@{
    ViewData["Title"] = "Supplier";
}
<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i> Create Supplier</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Company Name</th>
            <th>Contact Name</th>
            <th>Contact Title</th>
            <th>City</th>
            <th>Country</th>
            <th>Phone</th>
            <th>Fax</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.CompanyName</td>
                <td>@item.ContactName</td>
                <td>@item.ContactTitle</td>
                <td>@item.City</td>
                <td>@item.Country</td>
                <td>@item.Phone</td>
                <td>@item.Fax</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm"><i class="fas fa-info-circle"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
