@model Entities.Models.Customer

@{
    ViewData["Title"] = "delete Customer";
}
<h1>Delete Customer</h1>


<h4>Customer </h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        ID
    </dt>
    <dd class="col-sm-10">
        @Model.Id
    </dd>
    <dt class="col-sm-2">
        First Name
    </dt>
    <dd class="col-sm-10">
        @Model.FirstName
    </dd>
    <dt class="col-sm-2">
        Last Name
    </dt>
    <dd class="col-sm-10">
        @Model.LastName
    </dd>

    <dt class="col-sm-2">
        Last Name
    </dt>
    <dd class="col-sm-10">
        @Model.LastName
    </dd>
    <dt class="col-sm-2">
        City
    </dt>
    <dd class="col-sm-10">
        @Model.City
    </dd>
    <dt class="col-sm-2">
        Country
    </dt>
    <dd class="col-sm-10">
        @Model.Country
    </dd>
    <dt class="col-sm-2">
        Phone
    </dt>
    <dd class="col-sm-10">
        @Model.Phone
    </dd>
</dl>
<form asp-contoller="Customer" asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i>Delete</button>
    <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-arrow-left"></i>Back to List</a>

</form>