@model Entities.Models.Customer

@{
    ViewData["Title"] = "Customer Details";
}

<h1>Customer Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl>
        <dt class="col-sm-2">
            ID
        </dt>
        <dd class="col-sm-10">
            @Model.Id
        </dd>
        <dt class="col-sm-2">
            First Name
        </dt>
        <dd class="col-sm-10">
            @Model.FirstName
        </dd>
        <dt class="col-sm-2">
            Last Name
        </dt>
        <dd class="col-sm-10">
            @Model.LastName
        </dd>
        <dt class="col-sm-2">
            City
        </dt>
        <dd class="col-sm-10">
            @Model.City
        </dd>
        <dt class="col-sm-2">
            Country
        </dt>
        <dd class="col-sm-10">
            @Model.Country
        </dd>
        <dt class="col-sm-2">
            Phone
        </dt>
        <dd class="col-sm-10">
            @Model.Phone
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fas fa-edit"></i> Edit</a>
    <a asp-action="Index" class="btn- btn-secondary"><i class="fas fa-arrow-left"></i> Back to List</a>
</div>
>>>>>>> 068493233db3f744667643578a6a8160e971d1f7
